* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--poppins);
  }
  
:root {
/*Color Global CSS Formats*/
--primary: #D0D0D0;
--secondary: #615B41;
--tertiary: #FFFFFF;
  
/*Text Global CSS Formats*/
--poppins: "Poppins", sans-serif;
--semibold: 700;
--medium: 500;
  
/*Input CSS Formats*/
--input-background: #ECECEC;
--input-stroke: #D3D3D3;
--stress: #525252
}
