[submodule "Test-Systems/tspro"]
	path = Test-Systems/tspro
	url = https://github.com/fvjr156/tabulation-system.git
[submodule "Test-Systems/feedbacksys"]
	path = Test-Systems/feedbacksys
	url = https://github.com/fvjr156/feedback-system.git
