*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: var(--poppins);
}

:root{
    --white: #F0F3F5;
    --red: #D24545;
    --gray: #D9D9D9;
    --lighter-gray: #E9E9E9;
    --darker-gray: #525252;
    --poppins: "Poppins", sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
}

.sidebar-section{
    height: 100%;
    width: 7.5%;
    transition: all ease-in-out .65s;
    background-color: var(--white);
}

.sidebar-section-hovered{
    height: 100%;
    width: 25%;
    transition: all ease-in-out .65s;
    background-color: var(--white);
}

.sidebar-upper-section{
    height: 10%;
}

.sidebar-lower-section{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-button-section{
    width: 80%;
    height: 95%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.sidebar-button{
    background-color: rgba(210, 69, 69, 0.3);
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    color: var(--red);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: none;
}

.sidebar-button:nth-child(2){
    background-color: var(--white);
    color: var(--darker-gray);
}

.sidebar-button span{
    width: 0;
    height: 0;
    visibility: hidden;
}

.sidebar-button-hovered{
    background-color: rgba(210, 69, 69, 0.3);
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    color: var(--red);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border: none;
}

.sidebar-button-hovered:nth-child(2){
    background-color: var(--white);
    color: var(--darker-gray);
}

.sidebar-button-hovered:hover{
    border: 1px solid var(--red);
    transition: .5s;
}

.sidebar-button-hovered i{
    height: max-content;
    width: 20%;
    font-size: 24px;
}

.sidebar-button-hovered span{
    width: 80%;
    display: flex;
    justify-content: left;
    padding-left: 15px;
    transition: .3s;
}

.header-section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-section .header{
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-section{
    background-color: var(--gray);
    border-radius: 10px;
    font-size: 32px;
    font-weight: 1000;
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}

.header-logo-section-hovered{
    background-color: var(--gray);
    border-radius: 10px;
    padding: 15px;
    font-size: 24px;
    font-weight: 1000;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.header-logo-section-hovered .span-hovered{
    width: max-content;
    height: max-content;
    color: var(--red);
}

.header-logo-section .span{
    width: max-content;
    height: max-content;
    color: var(--red);
    transition: .1s;
}

.header-text-section-hovered{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}

.header-text-section{
    height: 0;
    width: 0;
    display: flex;
    align-items: center;
    visibility: hidden;
}

.header-text-section-hovered span{
    color: var(--red);
    font-size: 16px;
    font-weight: 700;
    height: max-content;
    width: 100%;
    padding-left: 5%;
}

.hero-section{
    height: 100%;
    width: 100%;
}

.navbar-section{
    background-color: var(--lighter-gray);
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    position: relative;
    height: 50%;
    width: 95%;
    display: flex;
}

.navbar .header-section{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: left;
}

.navbar .header-section span{
    width: max-content;
    height: max-content;
    font-size: 24px;
    font-weight: 700;
}

.navbar .profile-section{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar .profile-section .profile-logo{
    background-color: var(--gray);
    width: max-content;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 80%;
    display: flex;
    align-items: center;
}

.navbar .profile-section .profile-logo i{
    font-size: 25px;
    height: max-content;
    width: max-content;
}

.dashboard-section{
    height: 90%;
    background-color: var(--lighter-gray);
}

.dashboard{
    height: 90%;
    width: 95%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}

.dashboard-upper-section{
    height: 50%;
    width: 100%;
    display: flex;
    gap: 5%;
    padding: 15px;
}

.dashboard-lower-section{
    height: 50%;
    width: 100%;
    padding: 15px;
}

.audit-section{
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.employee-status-section{
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 10px;
    width: 30%;
}

.recent-employee-section{
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 10px;
    width: 100%;
}
