.account-container h1 {
  margin: 15px 0;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  color: #1d2c3b;
}
.selection-filter {
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0 0 10px;
}

.selection-filter .filter-account-table-type {
  padding: 5px 15px;
  border-radius: 5px;
}

.account-list-table {
  width: 98%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
  margin: 0px 10px;
  border: 1px solid #ddd;
}
.account-list-table th {
  color: whitesmoke;
}
.account-list-table th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  background-color: rgb(243, 241, 241);
  text-align: center;
}

.account-list-table th {
  background-color: #96805a;
}

.account-list-table tr:hover {
  background-color: #f1f1f1;
}
