:root {
    /* Font Fammily */
	--poppins: 'Poppins', sans-serif;

    /* Primary Color */
    --primary-color: rgba(121, 172, 120, 0.299);

    /* Second Color */
	--secondary-color: #BBD5BB;

    /* White */
    --white: #f5f5f5;

    /* Dark  */
	--dark-grey: #D9D9D9;
	--dark: #342E37;
    --black: #000;
}